# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("cities.csv") 
cities_df

,Unnamed: 0,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date
0,0,Punta Arenas,-53.15,-70.92,33.80,55,40,6.93,CL,1598832188
1,1,Caravelas,-17.71,-39.25,70.99,91,0,4.92,BR,1598832223
2,2,Hasaki,35.73,140.83,80.01,88,75,10.29,JP,1598832192
3,3,Karratha,-20.74,116.85,80.33,28,3,6.89,AU,1598832252
4,4,Barrow,71.29,-156.79,39.20,86,90,17.22,US,1598832202
...,...,...,...,...,...,...,...,...,...,...
570,570,Thinadhoo,0.53,72.93,82.65,71,99,7.90,MV,1598832555
571,571,St. George's,12.06,-61.75,80.60,94,75,4.25,GD,1598832555
572,572,Wembley,-31.93,115.80,53.01,70,0,5.82,AU,1598832117
573,573,Tocopilla,-22.09,-70.20,59.58,69,100,5.48,CL,1598832556
574,574,Sarana,56.48,57.73,54.84,93,100,4.63,RU,1598832556

In [3]:
short_cities_df = cities_df.iloc[0:4]
short_cities_df

,Unnamed: 0,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date
0,0,Punta Arenas,-53.15,-70.92,33.80,55,40,6.93,CL,1598832188
1,1,Caravelas,-17.71,-39.25,70.99,91,0,4.92,BR,1598832223
2,2,Hasaki,35.73,140.83,80.01,88,75,10.29,JP,1598832192
3,3,Karratha,-20.74,116.85,80.33,28,3,6.89,AU,1598832252

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure()
locations = short_cities_df[["lat", "lng"]].astype(float)
# print(locations)

pct_humidity = short_cities_df["humidity"].astype(float)

In [5]:
heat_layer = gmaps.heatmap_layer(locations, weights=pct_humidity) 
#                                 dissipating=False, max_intensity=100,
#                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = [(51.5, 0.1), (51.7, 0.2), (51.4, -0.2), (51.49, 0.1)]
heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure